body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  color: #6b6b6b; 
  margin: 0;
  padding: 0;
}
/* container wrapper */
.container-wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
}
/*  Calendar wrapper */
.calendar-container {
  height: 100%;
  width: calc(100vw - 700px);
  background: #fff;
  display: inline-block;
  float: left; }
  @media (max-width: 991.98px) {
    .calendar-container {
      padding: 0; } }
  @media (max-width: 767.98px) {
    .calendar-container {
      padding: 0;
      width: 100%; } }

.calendar-container:after {
  clear: both; }

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.calendar {
  width: 750px;
  padding: 0;
  margin: 0 auto; 
}
/* Calendar Header */
.year-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  height: 40px;
  font-size: 25px;
  font-weight: 500;
  color: #6F7CE5;
  margin-top: 30px;
}
.left-button, .right-button {
  cursor: pointer;
  width: 28px;
  text-align: center;
  color: #6F7CE5 !important;
  font-size: 14px !important; }
.left-button:hover, .right-button:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(111, 125, 229, .1);
  border-radius: 50%;
}
/* Days/months tables */
.days-table, .dates-table, .months-table {
  display: flex;
  justify-content: center;
  border-collapse: separate;
  text-align: center; }
.month {
  cursor: pointer;
  line-height: 26px;
  padding: 10px 15px 30px;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(111, 125, 229, .4);
  transition: .2s;
}
.active-month {
  font-weight: 700;
  color: #6F7CE5;
}
.month:hover {
  color: #6F7CE5; }
.day {
  height: 30px;
  width: 30px;
  padding: 0 30px;
  line-height: 26px;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 14px;
  color: #6B6B6B;
  margin: 0px !important;
  box-sizing: content-box;
}
/* calender detail */
.calendar-detail-wrapper {
  margin: 0 auto;
  width: 650px;
  height: max-content;
  border-radius: 8px;
}
/*  Dates table */
.table-row {
  display: flex;
  margin: 10px 30px;
  margin-bottom: 20px;
}
.table-date-wrapper {
  padding: 0 31.5px;
  cursor: pointer;
  height: max-content;
  width: 30px;
  transition: .2s;
}
.circle {
  width: 30px;
  height: 30px;
  border: 1px dashed #6b6b6b;
  border-radius: 50%;
  margin-bottom: 5px;
}
.table-date {
  box-sizing: content-box;
  color: #2b2b2b;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.table-date-wrapper:hover {
  color: #6F7CE5;
}
.table-date-wrapper:hover > .circle{
  border-color: #6F7CE5;
  background-color: rgba(111, 125, 229, .1);
}
.active-date {
  font-weight: 600;
  color:  #6F7CE5;
}
.active-date > .circle {
  border: 1px dashed #6F7CE5;
}
/* icon wrapper */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 50px;
  border-radius: 8px;
  padding: 0 25px;
  margin: 0 auto;
  background-color: rgba(111, 125, 229, .05);
  color: #6F7CE5;
}
.icon-wrapper > .title {
  font-size: 18px;
}
.icon {
  cursor: pointer;
  width: 30px;
}
.inserted-icon {
  width: 35px;
}
.icon-btn {
  cursor: pointer;
  background-color: #6F7CE5;
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
.icon-btn:hover {
  background-color: rgba(111, 125, 229, .5);
}
/* right side - todo & diary */
.right-side {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 100vh;
  background-color: rgba(111, 125, 229, .1);
}
.box-wrapper {
  margin-top: 45px;
  box-sizing: border-box;
  width: 550px;
  height: 289px;
  padding: 20px 24px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
.box-wrapper.diary {
  height: 450px;
  padding: 0;
  margin-bottom: 80px;
}
.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-wrap > .title {
  font-size: 20px;
  font-weight: 600;
  color: #6F7CE5;
}
.edit-btn {
  cursor: pointer;
  height: 25px;
  border: none;
  background-color: #6F7CE5;
  padding: 0 8px;
  border-radius: 3px;
}
.edit-btn:hover {
  background-color: rgba(111, 125, 229, .5);
}
.edit-icon {
  margin-top: 2px;
}
.middle-line {
  height: 1px;
  background-color: #d9d9d9;
  margin: 10px 0 15px;
  width: 100%;
}
.to-do-wrapper {
  height: 185px;
  overflow: auto;
}
.to-do-wrapper::-webkit-scrollbar {
  width: 4px;
}
.to-do-wrapper::-webkit-scrollbar-thumb {
height: 20%; 
background: #dbdbdb; 
border-radius: 10px;
}
.to-do-wrapper::-webkit-scrollbar-track {
background: transparent 
}
.to-do {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.to-do:last-child {
  margin-bottom: 0;
}
.content {
  margin: 0;
  font-size: 15px;
}
.check-box {
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  margin-right: 13px;
}
.img-container {
  background-color: green;
  height: 150px;
  border-radius: 8px 8px 0 0;
}
.diary-container {
  padding: 20px 24px;
}
.diary-content {
  height: 219px;
  margin: 5px 0 0;
  overflow: auto;
  font-size: 15px;
}
.diary-content::-webkit-scrollbar {
  width: 4px;
}
.diary-content::-webkit-scrollbar-thumb {
height: 20%; 
background: #dbdbdb; 
border-radius: 10px;
}
.diary-content::-webkit-scrollbar-track {
background: transparent 
}