<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 container-wrapper">
          <div class="calendar-container">
            <div class="logo-wrapper">
              <img src="/static/img/logo.svg" class="logo">
            </div>
            <div class="calendar">
              <div class="year-header-wrapper">
                <div class="year-header">
                  <span class="left-button fa fa-chevron-left" id="prev"> </span>
                  <span class="year" id="label"></span>
                  <span class="right-button fa fa-chevron-right" id="next"> </span>
                </div>
              </div>
              <table class="months-table w-100">
                <tbody>
                  <tr class="months-row">
                    <td class="month">Jan</td>
                    <td class="month">Feb</td>
                    <td class="month">Mar</td>
                    <td class="month">Apr</td>
                    <td class="month">May</td>
                    <td class="month">Jun</td>
                    <td class="month">Jul</td>
                    <td class="month">Aug</td>
                    <td class="month">Sep</td>
                    <td class="month">Oct</td>
                    <td class="month">Nov</td>
                    <td class="month">Dec</td>
                  </tr>
                </tbody>
              </table>
              <div class="calendar-detail-wrapper">
                <table class="days-table w-100">
                  <td class="day">Sun</td>
                  <td class="day">Mon</td>
                  <td class="day">Tue</td>
                  <td class="day">Wed</td>
                  <td class="day">Thu</td>
                  <td class="day">Fri</td>
                  <td class="day">Sat</td>
                </table>
                <div class="frame">
                  <table class="dates-table w-100">
                    <tbody class="tbody">
                    </tbody>
                  </table>
                  <div class="icon-wrapper">
                    <h1 class="title">FEELING</h1>
                    <img class="icon" src="/static/img/yellow.svg">
                    <img class="icon" src="/static/img/orange.svg">
                    <img class="icon" src="/static/img/pink.svg">
                    <img class="icon" src="/static/img/red.svg">
                    <img class="icon" src="/static/img/green.svg">
                    <img class="icon" src="/static/img/blue.svg">
                    <img class="icon" src="/static/img/purple.svg">
                    <img class="icon" src="/static/img/gray.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-side">
        </div>
      </div>
    </div>
  </section>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>